<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Personnelle Portfolio">
    <meta name="keyword" content="portfolio, web design, Django">
    <meta name="author" content="Kais Mansour">
    <title>Kais Mansour Portfolio | Welcome</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <img src="../../static/core/images/circle-cropped.png" alt="" height="9%" width="9%">
        </div>
        <nav>
          <ul>
            <li class="current"><a  href="{% url 'core:acceuil' %}">Home</a></li>
            <li><a href="{% url 'core:CV' %}">CV</a></li>
            <li><a href="{% url 'core:projects' %}">Projects</a></li>
            <li><a href="{% url 'core:contact' %}">Contact</a></li>
          </ul>
        </nav>

      </div>
    </header>
    <section id="showcase">
      <div class="container">
        <h2>Kais Mansour-Portfolio</h1>


      </div>

    </section>
    <section id="Summary">
      <div class="container">
        <h1>Summary</h1>
        <p>My name is Kais Mansour , I am an mecanical engineering student in the 3rd year at the national engineering school of tunis, specialty numerical modelling and simulation. But I'm also passionate about the field of web and mobile development and this site shows that. I am looking for a PFE internship</p>

      </div>

    </section>
    <footer>
      <p>Kais Mansour Portfolio, Copyright &copy; 2020</p>
    </footer>

  </body>
</html>
