body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hiddens;
}
ul {
  margin: 0;
  padding: 0;
}
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 7px;
  min-height: 70px;
  border-bottom: #e8491d 10px solid;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}
header #branding img {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: red;
  font-weight: bold;
}
#showcase {
  margin-top: -47px;
  min-height: 600px;
  background: url(../../static/core/images/2014.jpg) no-repeat 0 -300px;
  background-size: cover;
  text-align: center;
  color: white;
  background-position: bottom 40px right 0px;
}
#showcase h2 {
  padding-top: 20%;
  font-size: 55px;
}
#Summary {
  padding: 10px;
  text-align: center;
  margin-top: -30px;
}
#Summary p {
  font-size: 20px;
}
#Summary h1 {
  font-size: 50px;
}
footer {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #e8491d;
  text-align: center;
  height: 20px;
}
footer p {
  margin-top: 0;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
#CV img {
  margin-top: 20px;
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 30px;
}
#boxes2 {
  margin-top: 20px;
  margin-bottom: 500px;
}
#boxes2 .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1050px) {
  header #branding,
  header nav,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: ;
  }
  #showcase h2 {
    margin-top: 100px;
    padding-top: 20px;
  }
  #cv img {
    margin-left: 0%;
    image-resolution: snap;
    padding: 0;
    width: 100%;
  }
  #Summary {
    margin-top: -300px;
    padding-top: -20%;
  }
  #showcase {
    margin-top: -100px;
    margin-bottom: -300px;
  }
  header nav li {
    float: none;
    text-align: center;
    width: 100%;
    margin-left: -14px;
    margin-right: -20px;
  }
  #boxes {
    margin-bottom: 0%;
  }
  #hh {
    margin-top: -500px;
  }
  #boxes2 .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  #boxes2 {
    margin-bottom: 0;
  }
}
